<h1>InputMask component sample</h1>

<div class="mask">
    <span class="label">integer:</span>
    <input-mask type="'integer'"
                max-length="5"></input-mask>
</div>

<div class="mask">
    <span class="label">double:</span>
    <input-mask type="'double'"
                max-length="5"></input-mask>
</div>

<div class="mask">
    <span class="label">date:</span>
    <input-mask type="'date'"></input-mask>
</div>

<div class="mask">
    <span class="label">time:</span>
    <input-mask type="'time'"></input-mask>
</div>

<div class="mask">
    <span class="label">time span:</span>
    <input-mask type="'timeSpan'"></input-mask>
</div>
